body, html{
  margin:   0;
  padding:  0;
}

.pull-down{
	background-color:   #a2a2a2;
	XXXborder-bottom:      1px solid #333;
	overflow:           hidden;
	z-index:            0;

					
	-webkit-transition: max-height 0.7s ease-in-out;
    -moz-transition:    max-height 0.7s ease-in-out;
    -o-transition:      max-height 0.7s ease-in-out;
    -ms-transition:     max-height 0.7s ease-in-out;
    transition:         max-height 0.7s ease-in-out;
	
}

.pull-down.closed{
	max-height:         0;
}

.pull-down.opened{
	height:             auto;
	max-height:         12em;
}

.pull-down ul,
.pull-down li{
	list-style:         none;
}

.opener-wrapper{
	position:         fixed;
	margin:           auto;
	width:            100%;
}

.opener{
	background-color: #a2a2a2;
	border-radius:    0 0 1.15em 1.15em;
	
	float:            right;
	font-family:      europeana;
	
	margin-right:     2em;
	border:           2px solid #919191;
	border-top-style: none;
	padding:          0.25em 1em 0.5em 1em;

	position:         relative;
	z-index:          2;
}
