html, body{
	margin: 0;
	padding: 0;
} 

.global-nav-menu-bar{

	font-size:   1em !important;
	line-height: 1em;

	position:			relative;
	padding:			0;
	background-color:	#fff;
	white-space:		nowrap;
	width:				100%;
	
	max-width:			100%; /* chrome */
}


.global-nav-menu-bar .menu-item,
.global-nav-menu-bar .back-item,
.global-nav-menu-bar .more-item,
.global-nav-menu-bar .more-menu-item{
	color:			#2A85E8;
	display:		block;
	padding:		0.25em 1em;
	outline:		0;
	position:  		relative;
	text-decoration:none;
	z-index:    	1;
}

.global-nav-menu-bar .more-menu-item{
	display:	block;
	margin:		0.25em 0;
}

.global-nav-menu-bar .menu-item :hover,
.global-nav-menu-bar .more-item :hover,
.global-nav-menu-bar .back-item :hover,
.global-nav-menu-bar .more-menu-item :hover
{
	color:           #666666;
	text-decoration: underline;
}

.global-nav-menu-bar .menu-item.active,
.global-nav-menu-bar .more-item.active,
.global-nav-menu-bar .back-item.active{
	text-decoration:	underline;
}

.global-nav-menu-bar .menu-item.disabled{
	color:	#e4e4e4;
	cursor:	default;
}

.global-nav-menu-bar .more{
	display:    none;
	width:      100%;
}

.global-nav-menu-bar .more-col{
	display: inline-block;
}


/* clearfix */
.global-nav-menu-bar:after { 
	visibility: hidden;
	display:    block;
	font-size:  0;
	content:    " ";
	height:     0;
	clear:      both;
}


.global-nav-menu-bar .more,
.global-nav-menu-bar .section,
.global-nav-menu-bar .menu-item,
.global-nav-menu-bar .more-item,
.global-nav-menu-bar .back-item,
.global-nav-menu-bar .more-menu-item{
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
}
	

.global-nav-menu-bar .section{
	display:		none;
	position:		relative;
	top:			-1px;	/* hide border */
	white-space:	normal;
	width:			100%;
	max-width:		100%; /* chrome */	
}

.global-nav-menu-bar .section.active{
	display: inline-block;
}

#phone-detect{
	width:1px;
}

@media only screen and ( min-width:28em ){

	#phone-detect{
		width:0;
	}

	body{
		background-color: orange;
	}
	
	.eu-global-nav .left{
		float:     left;
		max-width: 100%;
	}
	
	.eu-global-nav .right{
		float:	right;
		clear:	right;	
	}

	.global-nav-menu-bar{
		border-radius:		0;
	}

	.global-nav-menu-bar .menu-item,
	.global-nav-menu-bar .more-item,
	.global-nav-menu-bar .back-item{
		display:		inline-block;
		margin-top:		0;
		cursor:			pointer;
	}
	

	.global-nav-menu-bar .menu-item,
	.global-nav-menu-bar .back-item,
	.global-nav-menu-bar .more-item,
	.global-nav-menu-bar .more-menu-itemXXXXX{
		border:			1px solid #d6d6d6;
	}
	
	.global-nav-menu-bar .section{
		background-color: white;
		float:			  left;
	}

	.global-nav-menu-bar .more{
		padding: 1em;
	}
}



.global-nav-menu-bar.measure-mode{
	max-height:  1.5em;
	overflow:    hidden;
	white-space: normal;
}

.global-nav-menu-bar .more-item,
.global-nav-menu-bar .back-item{
	display:    none;
}
